.topbarContainer {
    padding: 1rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    align-items: center;
    z-index: 10000;
    position: fixed;
}

.icon {
    font-size: 2rem;
}