@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}


@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  body {
    @apply flex flex-col items-center justify-center; /* Use Tailwind classes */
  }
  .scroll-snap-container {
    scroll-snap-type: y mandatory; /* Enable vertical snapping */
    overflow-y: scroll; /* Allow vertical scrolling */
  }

  .scroll-snap-child {
    scroll-snap-align: center; /* Align items to the center when scrolling */
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
